In [22]:
age=21
name="Krishnakumar"
degree="BE"

In [23]:
print("My age is :",age)

My age is : 21

In [24]:
print("My age is {age}")

My age is {age}

In [25]:
#f ->fstring is used in formatting
print(f"my age is:{age}")

my age is:21

In [26]:
print("My name is {} and my age is {}".format(name,age))

My name is Krishnakumar and my age is 21

In [27]:
print("My name is {firstname} and my age is {firstage}".format(firstage=age,firstname=name))

My name is Krishnakumar and my age is 21

In [28]:
print("My name is {myname} and I am {myage} years old and i have completed my degree of {mydegree} in 2023".format(myage=age,myname=name,mydegree=degree))

My name is Krishnakumar and I am 21 years old and i have completed my degree of BE in 2023

# LOOPS

# IF CONDITION

In [36]:
age1 = int(input("Enter you age:"))
if age1<=18:
    print(f"my age is {age1}")

Enter you age: 13

my age is 13

In [38]:
name=input("Enter your name")
#default type of input is string

Enter your name Krishnakumar

In [39]:
print(name)

Krishnakumar

In [44]:
## TASK TAKE INPUT OF AGE AND CHECK IT IS GREATER THAN 18 AND LESSER THAN 45 AND IF IT SATISFIES PRINT SOME STATEMENT
age2=int(input("Enter your age:"))

Enter your age: 12

In [45]:
if age2>=18 and age2<=45:
    print("YOU ARE YOUNG BLOOD")
else:
    print("nothing")

nothing

In [46]:
#mall mei shopping aur product price enter karo
# product <=1000rs then 10% discount
# product >1000rs then 20%discount
# print discounted price

In [50]:
price=int(input("Enter the price of the product"))
d_price=0
if price>=2000:
    d_price=price-(0.2)*price
else:
     d_price=price-(0.3)*price
print(d_price)

Enter the price of the product 1000

700.0

In [51]:
#mall mei shopping aur product price enter karo
# product >3000rs then 20% discount
# product >=2000rs and <=3000 then 30% discount
# product <=1000rs and <2000 then 30% discount
# print discounted price

In [53]:
price=int(input("Enter the price of the product"))
d_price=0
if price>3000:
    d_price=price-(0.2)*price
elif price>=2000 and price<=3000:
     d_price=price-(0.3)*price
else:
    d_price=price-(0.2)*price
print(f"discounted price is {d_price}")

Enter the price of the product 2500

discounted price is 1750.0

In [2]:
#single statement suites

z=int(input("Enter the value"))
if z>=1000:print("Hi")
else :print("Bye")

Enter the value 9999

Hi

# Loop Statements
1. while loop 
2. for loop 
3. nested loops 
4. loop controls(break,continue,pass)

# While loop

In [4]:
#while loop
retirement_age=60
joining_age=24
while(joining_age<=60):
    print(f"You are now in working life at age {joining_age}")
    joining_age=joining_age+1

You are now in working life at age 24
You are now in working life at age 25
You are now in working life at age 26
You are now in working life at age 27
You are now in working life at age 28
You are now in working life at age 29
You are now in working life at age 30
You are now in working life at age 31
You are now in working life at age 32
You are now in working life at age 33
You are now in working life at age 34
You are now in working life at age 35
You are now in working life at age 36
You are now in working life at age 37
You are now in working life at age 38
You are now in working life at age 39
You are now in working life at age 40
You are now in working life at age 41
You are now in working life at age 42
You are now in working life at age 43
You are now in working life at age 44
You are now in working life at age 45
You are now in working life at age 46
You are now in working life at age 47
You are now in working life at age 48
You are now in working life at age 49
You are now in working life at age 50
You are now in working life at age 51
You are now in working life at age 52
You are now in working life at age 53
You are now in working life at age 54
You are now in working life at age 55
You are now in working life at age 56
You are now in working life at age 57
You are now in working life at age 58
You are now in working life at age 59
You are now in working life at age 60

In [7]:
# example of while loop with ATM machnine
total_amount=2000
while total_amount!=0:
    total_amount=total_amount-100
    print(f"The remaining money is {total_amount}")
else:
    print("Please refill the ATM with money")

The remaining money is 1900
The remaining money is 1800
The remaining money is 1700
The remaining money is 1600
The remaining money is 1500
The remaining money is 1400
The remaining money is 1300
The remaining money is 1200
The remaining money is 1100
The remaining money is 1000
The remaining money is 900
The remaining money is 800
The remaining money is 700
The remaining money is 600
The remaining money is 500
The remaining money is 400
The remaining money is 300
The remaining money is 200
The remaining money is 100
The remaining money is 0
Please refill the ATM with money

# For loop

In [16]:
#list
var1=["Krishna","Pradeep","Xyz",1,2,3]

In [17]:
type(var1)

list

In [18]:
print(var1)

['Krishna', 'Pradeep', 'Xyz', 1, 2, 3]

In [19]:
for i in var1:
    print(i)

Krishna
Pradeep
Xyz
1
2
3

In [23]:
for i in var1:
    print(i,end=' ')

Krishna Pradeep Xyz 1 2 3

In [21]:
for i in var1:
    print(i)
    if i=="Krishna":
        print("He is a very good guy")

Krishna
He is a very good guy
Pradeep
Xyz
1
2
3

In [24]:
for i in var1:
    print(i)
    if i=="Krishna":
        break

Krishna

In [26]:
#string is also a collection of elements
fruit='mango'
for i in fruit:
    print(i)

fruit[0]

m
a
n
g
o

'm'

In [34]:

#for starts with the index zero 
var1=100
for x in range(var1):
  print(x,end= ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [35]:
for x in range(1,10):
    print(x,end= ' ')

1 2 3 4 5 6 7 8 9

In [36]:
for x in range(1,100,2):
    print(x,end= ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [42]:
for i in range(0,1):
    print(i)

0

# Nested loop

In [43]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="" )
    print("\r")

*
**
***
****
*****
******
*******

# control statements

In [44]:
fruit_list=["apple","banana","guava","grapes","watermelon","blueberry"]

In [45]:
for i in fruit_list:
    if i=="grapes":
        print("The season is winter")
    print(i)

apple
banana
guava
The season is winter
grapes
watermelon
blueberry

In [47]:
#break statement
#break will throw you out of the loop
for i in fruit_list:
    if i=="grapes":
        print("The season is winter")
        break
    print(i)

apple
banana
guava
The season is winter

In [48]:
#pass statement
for i in fruit_list:
    if i=="grapes":
        print("The season is winter")
        pass
    print(i)

apple
banana
guava
The season is winter
grapes
watermelon
blueberry

In [50]:
#continue statement
#it on;y skips a particular portion of the loop
for i in fruit_list:
    if i=="grapes":
        print("The season is winter")
        continue
    print(i)

apple
banana
guava
The season is winter
watermelon
blueberry